/* ===========================
   ToC 

   1.0 Phones 0 - 549px 
   1.1 Results
   =========================== */

/* =================
   Custom Properties
   ================= */

:root {
  // Colors

  --color-purple-100: 254deg, 88%, 90%;
  --color-purple-500: 256deg, 67%, 59%;

  --color-yellow-100: 31deg, 66%, 93%;
  --color-yellow-500: 39deg, 100%, 71%;

  // Neutrals
  --color-white: 0deg, 0%, 100%;
  --color-black: 0deg, 0%, 7%;
}

/* ==============================
   1.0 Phones & Tablets 0 - 900px 
   ============================== */

.main-title {
  font-size: 4rem;
  color: hsl(var(--color-purple-500));
}

/* ==========================
   2.0 Tablets 600px - 1399px 
   ========================== */

/* ==========
   2.1 grid-item
   ============= */

/* ==========
   3.1 grid-item
   ============= */

/* ==========
   4.1 grid-item
   ============= */
